:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-top: #19191f;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --topbar-heidth: 60px;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: #19191f;
}

body::-webkit-scrollbar-thumb {
  background: #6666ff;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  margin-top: var(--topbar-heidth) !important;
}

.topbar {
  height: var(--topbar-heidth);
  background-color: var(--bg-top);
}

.snavbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 100;
}

.snavbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.snav-item {
  width: 100%;
}

.snav-item:last-child {
  margin-top: auto;
}

.snav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.snav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.snav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #9999ff;
}

.fa-secondary {
  color: #6666ff;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  transition: width 600ms ease;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.snavbar:hover .logo svg {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .snavbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .logo {
    display: none;
  }

  .snavbar-nav {
    flex-direction: row;
  }

  .snav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .snavbar {
    top: 0;
    width: 5rem;
    height: calc(100vh - var(--topbar-heidth));
    margin-top: var(--topbar-heidth);
  }

  .snavbar:hover {
    width: 16rem;
  }

  .snavbar:hover .link-text {
    display: inline;
  }

  .snavbar:hover .logo svg {
    margin-left: 11rem;
  }

  .snavbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-top: #19191f;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --bg-top: #cccccc;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --bg-top: #ffffb3;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.bd-title {
  font-size: 3rem;
}
